<div class="show">
	
	<h2><%= @articles.title %></h2>

	<p><%= @articles.desc %></p>


	<div class="sourcecode">
		<%= coderay(raw @articles.sourcecode) %>
	</div>

	<div class="tags">
		<p>Tags: <span><%= @articles.tags %></span></p>
	</div>

</div>